substitutions:
  waterfall_pin: GPIO1
  one_wire_pin: GPIO10
  air_temp_id: 0xeaaf9e231e64ff28
  water_temp_id: 0x91f895231e64ff28
  pentair_tx_pin: GPIO17
  pentair_rx_pin: GPIO18
  right_arrow: "➡️"
  pentair_light_pin: GPIO46

esphome:
  name: esphome-web-551c88
  friendly_name: Pool Controller
  min_version: 2025.9.0
  name_add_mac_suffix: false

esp32:
  variant: esp32s3
  framework:
    type: esp-idf

# Enable logging
logger:
  #level: VERY_VERBOSE
  #level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "n4iIeFt/Mf7iU9ItsSL1HM8DUwzl9xlLBZ8cuOAxbEI="

# Allow Over-The-Air updates
ota:
  - platform: esphome
    password: "f91133fb8deee35feac447aa23650d81"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Pool Controller Hotspot"
    password: !secret ap_password

captive_portal:

external_components:
  - source: components
    components: [custom_web_handler]

# Custom web handler for additional endpoints
custom_web_handler:
  endpoints:
    # File endpoint - serve embedded HTML file
    - path: /custom_page
      content_type: text/html
      file: Include/index.html

# Enable web server for direct access
web_server:
  port: 80
  version: 3
  sorting_groups:
    - id: sorting_group_diagnostics
      name: "Diagnostics"
      sorting_weight: -1

packages:
  temperature: !include Include/temperature.yaml
  pump: !include Include/schedule.yaml
  chlorinator: !include Include/chlorinator.yaml
  pentair_light: !include Include/pentair_light.yaml

switch:
  - platform: factory_reset
    name: Factory Reset/Restart
    web_server:
      sorting_group_id: sorting_group_diagnostics
      sorting_weight: 6

# Configuration Numbers
number:
  # Pump Speeds
  - platform: template
    name: "Pump Speed test  "
    id: pump_speed_test
    min_value: 0
    max_value: 3450
    step: 50
    optimistic: true
    restore_value: true
    initial_value: 1000
    icon: "mdi:speedometer"
    mode: box

# column labels for scedule clance
text_sensor:
  - platform: template
    name: start_label
    lambda: return{"Start"};

  - platform: template
    name: speed_label
    lambda: return{"Speed"};

  - platform: template
    name: rpm_label
    lambda: return{"RPM"};

  - platform: template
    name: waterfall_label
    lambda: return{"Waterfall"};

  - platform: template
    name: blank_label
    lambda: return{" "};
    